body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 16px;
    padding: 0;
    box-sizing: border-box;
    background-color: lightcoral;
}

header {
    background-color: #5f5555;
    color: white;
    padding: 16px;
}

nav ul {
    text-align: center;
}


nav li {
    margin-right: 16px;
    display: inline;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

section {
    margin: 16px;

}

h1,
h2,
h3 {
    color: #333;

}

h4 {
    color: white;
}

.projects {
    display: flex;
}

.project1 {
    margin-bottom: 16px;
}

.project1 img {
    max-width: 30%;
    height: auto;
}

.project2 {
    margin-bottom: 16px;
}

.project2 img {
    max-width: 40%;
    height: auto;
}

.cv {
    text-align: center;
    padding: 15px;

}

.hireme {
    text-align: center;
    padding: 15px;
}

footer {
    background-color: #5f5555;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 18px;

}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 10px;
    text-decoration-line: underline;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0.5em;
    }
}