body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: lightcoral;
}

header {
    background-color: #5f5555;
    color: white;
    padding: 1em;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;

}

nav a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

section {
    margin: 20px;

}

h1,
h2,
h3 {
    color: #333;

}

footer {
    background-color: #5f5555;
    color: white;
    padding: 0.25em;
    text-align: center;
    font-size: 25px;

}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 10px;
    text-decoration-line: underline;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}